*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#EEE;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 945px;
    height: 350px;
    background-color:  #E4F9F5;
    margin: 0 auto;
    padding: 10px;
}
header{

}
.profile-image{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    height: 120px;
    width: 100px;
    float: left;
}
.midia-icon{
    padding-top: 200px;
    font-size: 25px;
}
.midia-icon a{
    border: solid green 1px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: rgb(231, 231, 231);
    background-color: saddlebrown;
    text-decoration: none;
}
.midia-icon a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(33, 139, 19);
}

.profile-boi{
    float: left;
    padding: 45px;
}
h1,h2,h3,h4,h5,h6{
    color:#11999e;
    text-align: center;
}
.header-contact{
    float: right;
    padding:30px ;
}

.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;

}
img.web-skill{
   width: 100px;
}

.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    border-bottom: none;
    margin-top: 20px auto;
}
footer{
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
footer a{
    text-decoration: none;
    color: tomato;
}
/*  github link style  */
p a{
    text-decoration: none;
    padding-bottom: 10px;
    color: #136b5b;
}